*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav-link{
  padding: 1%;
  color: white;
  border:1px ;
}
.nav-link:hover{
    color: rgb(140, 135, 135);
    border: 1px solid;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: bold;
    color: white;
    text-shadow: 2px 2px 8px #070707;; 
   }
   .text{
    
   }
  .card-title{
    color: green;
  }
  .card-title1{
    color: rgb(101, 194, 231);
  }
.card-title2{
    color:rgb(77, 64, 64)
}
.card-title3{
  color: rgb(75, 74, 74);
}
.card-title4{
  color: rgb(75, 74, 74) ;
}
.centered1 {
  position: absolute;
  top: 332%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: bold;
  color: white;
  text-shadow: 3px 3px 3px #ababab;
  font-size: 30px;
}
.centered2{
  position: absolute;
  top: 335%;
  left: 5%;
  color: white;
  font-family: "Trirong", serif;
  font-size:0px;
  text-indent: 27px;
  letter-spacing: 0px;
  word-spacing: -1px;
  white-space: wrap;
}
#Contact{
  position: absolute;
  top: 631%;
  left: 15%;
}